/*
 * min_alt.css for OpenJSCAD.org viewer
 */

a {
  font-size: 16px;
}


#header {
  padding: 5px;
  /* not inherited */
}

html, body {
   margin: 0px;             /* not inherited */
   border: 0px none black;  /* not inherited */
   padding: 0px;            /* not inherited */
   font-family: Helvetica, Arial, Sans;

   /* ensure that the document uses the whole width and height of the browser */
   min-height: 100%;
   height: 100%;
   min-width: 100%;
   width: 100%;

   /* viewer/canvas is full screen so when window
      is resized all remains intact, but we make sure no scrollbar appears */
   overflow: hidden;
}

.container {
  background:green;
  width: 100%;
  height: 100%;
  
  box-sizing: border-box;
}

#viewerContext {
  background: greenyellow;
  float: left;
  width: 20%;
  height: 100%;
  min-height: 100%;
  top: 0px;
  bottom: 0px;
}

#viewerContext canvas {
  background: blue;
}
.jscad-container canvas {
  margin: 0px;
  padding: 0px;
  background: blueviolet;
  width: 100%;
  height: 100%;
  cursor: move;
}



#updateButton,
#instantUpdate,
#instantUpdateLabel {
  display: none;
}





// parametersdiv

#parametersdiv {
  padding: 20px; 
  box-sizing: border-box;
  width: 35%;
  height: 100%;
  float: right
}

#parametersdiv table {
  text-align: left;
  font-size: 1em;
  line-height: 1em;
  width: 100%;
  font-weight: normal;
}

#parametersdiv th {
  margin: 5px;
  /* not inherited */
  line-height: 2em;
  border: 0px none gray;
  /* not inherited */
  /* not inherited */
  font-weight: bold;
}

#parametersdiv th.caption {
  text-decoration: underline;
}

#parametersdiv td.caption {
  text-align: left;
  font-weight: bold;
}

#parametersdiv td {
  padding: 8px 0;
  text-align: center;
}

#parametersdiv input,
#parametersdiv textarea,
#parametersdiv select {
  font-size: 1em;
  width: 100%;
  line-height: 2em;
  background: #efefef;
  padding-left: 5px;
  border: none;
}

//   Stuff

#tail {
  margin: 5px;
  /* not inherited */
}

#busy {
  vertical-align: middle;
}
