/*
 * min_alt.css for OpenJSCAD.org viewer
 */

a {
  font-size: 16px;
}

.container {
  background: #fff;
  max-width: 1000px;
  margin: 10px auto;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}

.jscad-container {
  color: #000;
  font-weight: bold;
  font-family: Helvetica, Arial, Sans;
  float: left;
  position: relative;
  width: 60%;
  @media (max-width: 720px){
    width: 100%;
  }
}


/*bezier style*/

#bezier-container1 {
  width: 40%;
  float: left;
  position: relative;
  @media (max-width: 720px){
    width: 100%;
  }
}

.bezier-container {
  float: left;
  width: 100%;
  /*margin: 0 -15px;*/
  position: relative;
  @media (max-width: 720px) {
    width: 50%;
  }
  @media (max-width: 320px) {
    width: 100%;
  }
}

.bezier-container canvas {
  background: #292929;
  padding: 0;
  float: left;
}

.add_button,
.remove_button {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  position: absolute;
  top: 24px;
  background: #fff;
  border: 0;
  right: 14px;
}

.remove_button {
  top: 80px;
}

.button-active {
  background: #2c66c4;
  color: #fff;
}


/*pixelgrid  style*/

.pixelgrid-container {
  background: #292929;
  width: 100%;
  float:left;
  /*text-align: center;*/
  @media (max-width: 720px) {
    width: 50%;
  }
  @media (max-width: 320px) {
    width: 100%;
  }
}

.pixelgrid-container canvas {
  width: 100%;
}


.pixelgrid-container canvas:hover{
  cursor: cell;
}
.clear-btn {
  width: 100%;
  border: 0;
  background:#ff3535;
  color: #fff;
  font-size: 14px;
  padding: 8px 0;
  text-align: center;
}
.clear-btn:hover{
  cursor: pointer;
}

.threeyd-upload {
  background: #2c66c4;
  background-size: 24px;
  font-size: 16px;
  border: 0;
  color: #fff;
  width: 100%;
  line-height: 24px;
  margin-top: 8px;
  padding: 12px 18px;
}

#header {
  padding: 5px;
  /* not inherited */
}

#viewerContext {
  background: white;
  width: 100%;
  height: 400px;
  top: 0px;
  bottom: 0px;
}

#viewerContext canvas {
  background: #fff;
}
.jscad-container canvas {
  margin: 0px;
  padding: 0px;
  background: #fff;
  width: 100%;
  height: 100%;
  cursor: move;
}

#instantUpdate,
#instantUpdateLabel {
  display: none;
}

#parametersdiv {
  padding: 20px; 
  box-sizing: border-box;
  width: 100%;
}

#parametersdiv table {
  text-align: left;
  font-size: 1em;
  line-height: 1em;
  width: 100%;
  font-weight: normal;
}

#parametersdiv th {
  margin: 0px;
  /* not inherited */
  line-height: 2em;
  border: 0px none gray;
  /* not inherited */
  /* not inherited */
  font-weight: bold;
}

#parametersdiv th.caption {
  text-decoration: underline;
}

#parametersdiv td.caption {
  text-align: left;
  font-weight: bold;
}

#parametersdiv td {
  padding: 8px 0;
  text-align: center;
}

#parametersdiv input,
#parametersdiv textarea,
#parametersdiv select {
  font-size: 1em;
  width: 100%;
  line-height: 2em;
  background: #efefef;
  padding-left: 5px;
  border: none;
}

#updateButton {
  margin: 5px;
  /* not inherited */
  border: thin solid Black;
  /* not inherited */
  padding: 2px;
  /* not inherited */
  border-radius: 4px;
  background: white;
  display: none;
  margin-left: 1em;
}

#tail {
  margin: 5px;
  /* not inherited */
}

#busy {
  vertical-align: middle;
}